@import "colors";

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  z-index: 2;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: $white;
}

.top-page {
  background-color: $dark-blue-intro;
}

nav {
  padding: 60px;
  display: flex;
  justify-content: space-between;

  a {
    color: rgb(134, 133, 133);
    text-decoration: none;
    margin-left: 50px;
    transition: all 0.3s;
  }

  a:hover {
    color: $white;
  }

  .logo {
    margin-left: 0;
  }
}

header {
  margin: -90px;
  position: relative;
  top: 150px;

  img {
    display: block;
    margin: 0 auto 50px auto;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }

  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }

  p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
  }

  .button-started {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  button {
    color: $white;
    background-color: $blue;
    padding: 10px 60px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
  }

  button:hover {
    background-color: $cyan;
  }
}

.wave {
  position: relative;
  left: 0;
  bottom: 100px;
  width: 100vw;
  margin: 0;
  z-index: 1;
}

main {
  background-color: #181f2b;
}

.feature-container {
  margin-top: -120px;
  padding: 0 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.productive {
  margin: 130px 60px 130px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  img {
    max-width: 100%;
    height: auto;
    width: auto\2; /* ie8 */
  }
}




// footer

footer {
  background-color: magenta;
  padding: 60px 30px 40px 30px;
}

// Media querys

@media (max-width: 1200px) {
  header {
    top: 50px;
  }
}

@media (max-width: 850px) {
  header {
    top: 0;
    
    img {      
      padding: 0 60px 0 60px;
    }
  }
}

@media (max-width: 750px) {
  nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;

    img {
      width: 90px;
      height: 26px;
    }

    a {
      margin-left: 10px;
    }
  }

  header {
    margin: 0;

    h1 {
      font-size: 20px;
      margin: 0 30px 40px 30px;
    }

    p {
      margin: 0 30px 40px 30px;
    }
  }

  .feature-container {
    grid-template-columns: 1fr;
  }

  .productive {
    margin: 130px 60px 130px 60px;    
    grid-template-columns: 1fr;    
  }
}

@media (max-width: 410px) {
  nav {
    padding: 10px 5px;
  }

  .feature-container {
    margin-top: -105px;
  }

  .feature-item {
    img {
      height: 30%;
      width: 30%;
    }
  }

  .feature-item:nth-of-type(1) {
    padding-top: 50px;
  }
}
